body {
    font-family: 'Share Tech Mono', monospace;
    background-color: 
}

h1  {
    text-align: center;
    margin: 15px;
}

.timer-output{
    width: 200px;
    background: #222;
    color: darkred;
    padding: 16px 8px;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
    margin: 5px;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

.answer> .row> .btn{
    background-color: khaki;
}

.row> span, input, button {
    width: 100%;
    margin: 5px;
}

#gameStatusField {
    font-size: 18px;
}

#started {
    margin: 25px 0px 0px 5px;
}

#bodyTimer> .card > .text_timer {
    font-size: 20px;
    text-align: center;
}
